h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  padding: 0 20px;
  min-width: 270px;
  margin: 0 auto;
  
  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 75px;
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
    padding: 0 71px;
  }
}
