.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
  overflow-y: auto;
  overflow-x: hidden;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  background-color: white;
  color: black;
  max-width: 900px;
  height: 896px;
  padding: 10px;
  position: relative;
  border-radius: 15px;
  opacity: 0;
  transform: translate(-100%, 0px);
  transition: all 0.8s ease 0s;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .popup__content {
    margin: auto;
    width: 628px;
    height: 1175px;
    // height: 850px;
  }
}
@media screen and (min-width: 1024px) {
  .popup__content {
    min-width: 900px;
  }
}
@media screen and (max-width: 767px) {
  .popup__content {
    padding-left: 10px;
    padding-right: 25px;
    height: 1600px;
    // height: 950px;
  }
}
.button {
  position: absolute;
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 20px;
  color: black;
  stroke: 4px;
  width: 35px;
  height: 30px;
  &:hover {
    color: #ff6b08;
  }
}

.team__list {
  list-style: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 4%;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .team__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 766px) {
  .team__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
  }
}
@media screen and (max-width: 767px) {
  .team__list {
    grid-row-gap: 2%;
  }
}

.title-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .title-wrapper {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .title-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.team__title {
  font-size: 20px;

  &:hover {
    color: #ff6b08;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    line-height: 1.16;
    margin-bottom: 20px;
    @media screen and (min-width: 1024px) {
      margin-top: 10px;
      margin-bottom: 40px;
      font-size: 28px;
    }
  }
}
.under {
  color: #ff6b08;
  font-weight: bold;
  font-size: 18px;
}
.goitLogo {
  height: 24px;
  width: 65px;
  margin-right: 10px;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    height: 23px;
    width: 65px;
    margin-right: 15px;
  }
  @media screen and (min-width: 1024px) {
    height: 24px;
    width: 80px;
    margin-right: 15px;
  }
}
.team {
  border-radius: 15px;
  padding-bottom: 5%;
}
.team-discription {
  font-weight: bold;
  padding-top: 3%;
  padding-bottom: 3%;
}
.line {
  position: absolute;
  padding-top: 66px;
  color: #ff6b08;
  font-weight: bold;
  font-size: 22px;
  padding-left: 110px;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}
