<footer id="footer" class="footer">
    <div class="footer-container container">
        <div class="footer-text-wrapper">
            <p class="footer-text">&#169; 2021</p>
            <p class="footer-text" data-translatable>| All Rights Reserved | // | Всі права захищені | // | Все права защищены | // | Wszelkie prawa zastrzeżone |</p>
        </div>
        <p class="footer-text" ><span data-translatable>Developed with // Розроблено с // Разработано с // Opracowano z</span> 
            <span class="footer-heart-span">&#x2764;</span> by <a href="#popup"class="footer-team-link">GoIT Students</a></p>
    </div>
      
</footer>