<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="logo__list" href="./index.html">
        <svg class="logo__icon" height="24" width="24">
          <use href="./images/header/sprite-header.svg#logo"></use>
        </svg>
        <span class="logotext__link">Filmoteka</span>
      </a>
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <button class="navigation__button current home__btn" type="button" data-translatable>Home // Головна // Главная // Główna</button>
          </li>
          <li class="navigation__item">
            <button class="navigation__button my-library__btn" type="button" data-translatable>my library // моя бібліотека // моя библиотека // moja biblioteka</button>
          </li>
          <li class="navigation__item sign-in">
            <button id="signin" class="navigation__button" data-translatable>Sign in // Увійти // Войти // Zaloguj się</button>
            <button id="signout" class="navigation__button signOut" data-translatable>Sign out // Вийти // выход // Wyloguj się</button>
            <div id="googleUser"></div>
          </li>
        </ul>
      </nav>
    </div>
    <form class="input__wrapper search-form" id="search-form" data-translatable>
      <input id="input"
        class="header__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search Movies"
        required/>
      <input id="input"
        class="header__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Пошук фільмів"
        required/>
      <input id="input"
        class="header__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Поиск фильмов"
        required/>

      <input id="input"
        class="header__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Znajdź film"
        required/>

      <button class="button__search" type="submit">
        <svg class="input__icon" width="12" height="12">
          <use href="./images/header/sprite-header.svg#search"></use>
        </svg>
      </button>
    </form>
    <input class="lyf" type="checkbox" id="theme-check" />
  </div>

  <div class="lang" data-translatable>

    <ul class="lang-site list">
      <li class="lang-site__item">
          <a href="" id="uk" class="lang-site__link--other link">UKR</a>
      </li>
      <li class="lang-site__item">
          <a href="" id="en" class="lang-site__link link">ENG</a>
      </li>
      <li class="lang-site__item">
          <a href="" id='ru' class="lang-site__link--other link">RUS</a>
      </li>
      <li class="lang-site__item">
        <a href="" id="pl" class="lang-site__link--other link">POL</a>
      </li>
    </ul>

    <ul class="lang-site list">
      <li class="lang-site__item">
          <a href="" id="en" class="lang-site__link--other link">ENG</a>
      </li>
      <li class="lang-site__item">
          <a href="" id="uk" class="lang-site__link link">UKR</a>
      </li>
      <li class="lang-site__item">
          <a href="" id='ru' class="lang-site__link--other link">RUS</a>
      </li>
      <li class="lang-site__item">
        <a href="" id="pl" class="lang-site__link--other link">POL</a>
      </li>
    </ul>

    <ul class="lang-site list">
      <li class="lang-site__item">
          <a href="" id="en" class="lang-site__link--other link">ENG</a>
      </li>
      <li class="lang-site__item">
          <a href="" id='ru' class="lang-site__link link">RUS</a>
      </li>
      <li class="lang-site__item">
          <a href="" id="uk" class="lang-site__link--other link">UKR</a>
      </li>
      <li class="lang-site__item">
        <a href="" id="pl" class="lang-site__link--other link">POL</a>
      </li>
    </ul>

    <ul class="lang-site list">
      <li class="lang-site__item">
          <a href="" id="en" class="lang-site__link--other link">ENG</a>
      </li>
      <li class="lang-site__item">
        <a href="" id="pl" class="lang-site__link link">POL</a>
      </li>
      <li class="lang-site__item">
          <a href="" id="uk" class="lang-site__link--other link">UKR</a>
      </li>
      <li class="lang-site__item">
          <a href="" id='ru' class="lang-site__link--other link">RUS</a>
      </li>
    </ul>
  </div>

    <div class="library-btn__list is-hidden">
      <button class="library-btn watched-btn active" type="button" data-translatable>Watched // Переглянуто // Просмотрено // Obejrzane</button>
      <button class="library-btn queue-btn" type="button" data-translatable>Queue // Чергу // Очередь // Kolejka</button>
    </div>
</header>
