<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="logo__list" href="./index.html">
        <svg class="logo__icon" height="24" width="24">
          <use href="./images/header/sprite-header.svg#logo"></use>
        </svg>
        <span class="logotext__link">Filmoteka</span>
      </a>
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <button class="navigation__button current home__btn" type="button">Home</button>
          </li>
          <li class="navigation__item">
            <button class="navigation__button my-library__btn" type="button">my library</button>
          </li>
        </ul>
      </nav>
    </div>
    
    <form class="input__wrapper search-form" id="search-form">
      <input
        class="header__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Поиск фильмов"
      />
      <button class="button__search" type="submit">
        <svg class="input__icon" width="12" height="12">
          <use href="./images/header/sprite-header.svg#search"></use>
        </svg>
      </button>
    </form>
    <p class="search-notification"></p>
  </div>

<div class="lang">
      <ul class="lang-site list">
        <li class="lang-site__item">
            <a href="" class="lang-site__link link">ENG</a>
        </li>
        <li class="lang-site__item">
            <a href="" class="lang-site__link--other link">UKR</a>
        </li>
        <li class="lang-site__item">
            <a href="" class="lang-site__link--other link">RUS</a>
        </li>
    </ul>
    </div>
  
    <div class="library-btn__list is-hidden">
      <button class="library-btn active" type="button">Watched</button>
      <button class="library-btn" type="button">Queue</button>
    </div>
</header>
