<section class="main">
    <div class="container container__main">
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
    </div>
</section>