<!-- <section class="main">
  <div class="container container__main">
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
    <div class="card__test"></div>
  </div>
  <include src="./partials/pagination.html"></include>
</section> -->

<section class="main">
  <ul class="container container__main">
    <li class="card__test card__item">
      <a class="card__link" href="#">
        <picture class="card__poster">
          <source media="(min-width: 1024px)"
            srcset="./images/main-cards/poster.jpg 1x, ./images/main-cards/poster@2x.jpg 2x">

          <source media="(min-width: 768px)"
            srcset="./images/main-cards/poster-tab.jpg 1x, ./images/main-cards/poster-tab@2x.jpg 2x">

          <source media="(min-width: 320px)"
            srcset="./images/main-cards/poster-mob.jpg 1x, ./images/main-cards/poster-mob@2x.jpg 2x">

          <img class="picture" src="./images/main-cards/poster.jpg" alt="movie`s poster called Greyhound">
        </picture>

        <h2 class="card__title">greyhound</h2>
        <p class="card__description">Drama, Action | 2020</p>
        <p class="card__rating">10.0</p>
      </a>
    </li>
    <li class="card__test card__item">
      <a class="card__link" href="#">
        <picture class="card__poster">
          <source media="(min-width: 1024px)"
            srcset="./images/main-cards/poster.jpg 1x, ./images/main-cards/poster@2x.jpg 2x">

          <source media="(min-width: 768px)"
            srcset="./images/main-cards/poster-tab.jpg 1x, ./images/main-cards/poster-tab@2x.jpg 2x">

          <source media="(min-width: 320px)"
            srcset="./images/main-cards/poster-mob.jpg 1x, ./images/main-cards/poster-mob@2x.jpg 2x">

          <img class="picture" src="./images/main-cards/poster.jpg" alt="movie`s poster called Greyhound">
        </picture>

        <h2 class="card__title">greyhound</h2>
        <p class="card__description">Drama, Action | 2020</p>
        <p class="card__rating">10.0</p>
      </a>
    </li>
    <li class="card__test card__item">
      <a class="card__link" href="#">
        <picture class="card__poster">
          <source media="(min-width: 1024px)"
            srcset="./images/main-cards/poster.jpg 1x, ./images/main-cards/poster@2x.jpg 2x">

          <source media="(min-width: 768px)"
            srcset="./images/main-cards/poster-tab.jpg 1x, ./images/main-cards/poster-tab@2x.jpg 2x">

          <source media="(min-width: 320px)"
            srcset="./images/main-cards/poster-mob.jpg 1x, ./images/main-cards/poster-mob@2x.jpg 2x">

          <img class="picture" src="./images/main-cards/poster.jpg" alt="movie`s poster called Greyhound">
        </picture>

        <h2 class="card__title">greyhound</h2>
        <p class="card__description">Drama, Action | 2020</p>
        <p class="card__rating">10.0</p>
      </a>
    </li>
    <li class="card__test card__item">
      <a class="card__link" href="#">
        <picture class="card__poster">
          <source media="(min-width: 1024px)"
            srcset="./images/main-cards/poster.jpg 1x, ./images/main-cards/poster@2x.jpg 2x">

          <source media="(min-width: 768px)"
            srcset="./images/main-cards/poster-tab.jpg 1x, ./images/main-cards/poster-tab@2x.jpg 2x">

          <source media="(min-width: 320px)"
            srcset="./images/main-cards/poster-mob.jpg 1x, ./images/main-cards/poster-mob@2x.jpg 2x">

          <img class="picture" src="./images/main-cards/poster.jpg" alt="movie`s poster called Greyhound">
        </picture>

        <h2 class="card__title">greyhound</h2>
        <p class="card__description">Drama, Action | 2020</p>
        <p class="card__rating">10.0</p>
      </a>
    </li>
    <li class="card__test card__item">
      <a class="card__link" href="#">
        <picture class="card__poster">
          <source media="(min-width: 1024px)"
            srcset="./images/main-cards/poster.jpg 1x, ./images/main-cards/poster@2x.jpg 2x">

          <source media="(min-width: 768px)"
            srcset="./images/main-cards/poster-tab.jpg 1x, ./images/main-cards/poster-tab@2x.jpg 2x">

          <source media="(min-width: 320px)"
            srcset="./images/main-cards/poster-mob.jpg 1x, ./images/main-cards/poster-mob@2x.jpg 2x">

          <img class="picture" src="./images/main-cards/poster.jpg" alt="movie`s poster called Greyhound">
        </picture>

        <h2 class="card__title">greyhound</h2>
        <p class="card__description">Drama, Action | 2020</p>
        <p class="card__rating">10.0</p>
      </a>
    </li>
    <li class="card__test card__item">
      <a class="card__link" href="#">
        <picture class="card__poster">
          <source media="(min-width: 1024px)"
            srcset="./images/main-cards/poster.jpg 1x, ./images/main-cards/poster@2x.jpg 2x">

          <source media="(min-width: 768px)"
            srcset="./images/main-cards/poster-tab.jpg 1x, ./images/main-cards/poster-tab@2x.jpg 2x">

          <source media="(min-width: 320px)"
            srcset="./images/main-cards/poster-mob.jpg 1x, ./images/main-cards/poster-mob@2x.jpg 2x">

          <img class="picture" src="./images/main-cards/poster.jpg" alt="movie`s poster called Greyhound">
        </picture>

        <h2 class="card__title">greyhound</h2>
        <p class="card__description">Drama, Action | 2020</p>
        <p class="card__rating">10.0</p>
      </a>
    </li>
    <li class="card__test card__item">
      <a class="card__link" href="#">
        <picture class="card__poster">
          <source media="(min-width: 1024px)"
            srcset="./images/main-cards/poster.jpg 1x, ./images/main-cards/poster@2x.jpg 2x">

          <source media="(min-width: 768px)"
            srcset="./images/main-cards/poster-tab.jpg 1x, ./images/main-cards/poster-tab@2x.jpg 2x">

          <source media="(min-width: 320px)"
            srcset="./images/main-cards/poster-mob.jpg 1x, ./images/main-cards/poster-mob@2x.jpg 2x">

          <img class="picture" src="./images/main-cards/poster.jpg" alt="movie`s poster called Greyhound">
        </picture>

        <h2 class="card__title">greyhound</h2>
        <p class="card__description">Drama, Action | 2020</p>
        <p class="card__rating">10.0</p>
      </a>
    </li>
    <li class="card__test card__item">
      <a class="card__link" href="#">
        <picture class="card__poster">
          <source media="(min-width: 1024px)"
            srcset="./images/main-cards/poster.jpg 1x, ./images/main-cards/poster@2x.jpg 2x">

          <source media="(min-width: 768px)"
            srcset="./images/main-cards/poster-tab.jpg 1x, ./images/main-cards/poster-tab@2x.jpg 2x">

          <source media="(min-width: 320px)"
            srcset="./images/main-cards/poster-mob.jpg 1x, ./images/main-cards/poster-mob@2x.jpg 2x">

          <img class="picture" src="./images/main-cards/poster.jpg" alt="movie`s poster called Greyhound">
        </picture>

        <h2 class="card__title">greyhound</h2>
        <p class="card__description">Drama, Action | 2020</p>
        <p class="card__rating">10.0</p>
      </a>
    </li>
    <li class="card__test card__item">
      <a class="card__link" href="#">
        <picture class="card__poster">
          <source media="(min-width: 1024px)"
            srcset="./images/main-cards/poster.jpg 1x, ./images/main-cards/poster@2x.jpg 2x">

          <source media="(min-width: 768px)"
            srcset="./images/main-cards/poster-tab.jpg 1x, ./images/main-cards/poster-tab@2x.jpg 2x">

          <source media="(min-width: 320px)"
            srcset="./images/main-cards/poster-mob.jpg 1x, ./images/main-cards/poster-mob@2x.jpg 2x">

          <img class="picture" src="./images/main-cards/poster.jpg" alt="movie`s poster called Greyhound">
        </picture>

        <h2 class="card__title">greyhound</h2>
        <p class="card__description">Drama, Action | 2020</p>
        <p class="card__rating">10.0</p>
      </a>
    </li>
    <li class="card__test card__item">
      <a class="card__link" href="#">
        <picture class="card__poster">
          <source media="(min-width: 1024px)"
            srcset="./images/main-cards/poster.jpg 1x, ./images/main-cards/poster@2x.jpg 2x">

          <source media="(min-width: 768px)"
            srcset="./images/main-cards/poster-tab.jpg 1x, ./images/main-cards/poster-tab@2x.jpg 2x">

          <source media="(min-width: 320px)"
            srcset="./images/main-cards/poster-mob.jpg 1x, ./images/main-cards/poster-mob@2x.jpg 2x">

          <img class="picture" src="./images/main-cards/poster.jpg" alt="movie`s poster called Greyhound">
        </picture>

        <h2 class="card__title">greyhound</h2>
        <p class="card__description">Drama, Action | 2020</p>
        <p class="card__rating">10.0</p>
      </a>
    </li>
    <li class="card__test card__item">
      <a class="card__link" href="#">
        <picture class="card__poster">
          <source media="(min-width: 1024px)"
            srcset="./images/main-cards/poster.jpg 1x, ./images/main-cards/poster@2x.jpg 2x">

          <source media="(min-width: 768px)"
            srcset="./images/main-cards/poster-tab.jpg 1x, ./images/main-cards/poster-tab@2x.jpg 2x">

          <source media="(min-width: 320px)"
            srcset="./images/main-cards/poster-mob.jpg 1x, ./images/main-cards/poster-mob@2x.jpg 2x">

          <img class="picture" src="./images/main-cards/poster.jpg" alt="movie`s poster called Greyhound">
        </picture>

        <h2 class="card__title">greyhound</h2>
        <p class="card__description">Drama, Action | 2020</p>
        <p class="card__rating">10.0</p>
      </a>
    </li>
    <li class="card__test card__item">
      <a class="card__link" href="#">
        <picture class="card__poster">
          <source media="(min-width: 1024px)"
            srcset="./images/main-cards/poster.jpg 1x, ./images/main-cards/poster@2x.jpg 2x">

          <source media="(min-width: 768px)"
            srcset="./images/main-cards/poster-tab.jpg 1x, ./images/main-cards/poster-tab@2x.jpg 2x">

          <source media="(min-width: 320px)"
            srcset="./images/main-cards/poster-mob.jpg 1x, ./images/main-cards/poster-mob@2x.jpg 2x">

          <img class="picture" src="./images/main-cards/poster.jpg" alt="movie`s poster called Greyhound">
        </picture>

        <h2 class="card__title">greyhound</h2>
        <p class="card__description">Drama, Action | 2020</p>
        <p class="card__rating">10.0</p>
      </a>
    </li>
  </ul>
  <include src="./partials/pagination.html"></include>
</section>
