<div class="modal-movie" id="">
  <div class="modal-movie__container">
    <picture>
      <source srcset="images/modal-movie/movie-cover-desktop.jpg" media="(min-width: 1024px)" type="image/jpeg" />
      <source srcset="images/modal-movie/movie-cover-tablet.jpg" media="(min-width: 768px)" type="image/jpeg" />
      <source srcset="images/modal-movie/movie-cover-mobile.jpg" media="(max-width: 767.9px)" type="image/jpeg" />
      <img src="images/modal-movie/movie-cover-mobile.jpg" alt="Movie cover" />
    </picture>
  </div>

  <div class="modal-movie__container">
    <h2 class="modal-movie__title">A FISTFUL OF LEAD</h2>
    <table class="modal-movie-info">
      <tr>
        <td class="modal-movie-info__title">Vote / Votes</td>
        <td class="modal-movie-info__value">
          <span class="modal-movie-info__rate">7.3</span> / <span class="modal-movie-info__rate">1260</span>
        </td>
      </tr>
      <tr>
        <td class="modal-movie-info__title">Popularity</td>
        <td class="modal-movie-info__value">100.2</td>
      </tr>
      <tr>
        <td class="modal-movie-info__title">Original Title</td>
        <td class="modal-movie-info__value">A FISTFUL OF LEAD</td>
      </tr>
      <tr>
        <td class="modal-movie-info__title">Genre</td>
        <td class="modal-movie-info__value">Western</td>
      </tr>
    </table>

    <h3 class="modal-movie-about__title">About</h3>
    <p class="modal-movie-about__desc">
      Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement
      of the gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide
      out in the abandoned gold mine where they happen across another gang of three – who themselves were planning to
      hit the very same bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled
      with lead... they’ve been double crossed – but by who and how?
    </p>
    <div class="modal-movie-btn-wrapper">
      <button class="modal-movie-btn btn-to-watched" type="button">Add to watched</button>
      <button class="modal-movie-btn btn-to-queue" type="button">Add to queue</button>
    </div>
  </div>

  <button class="modal-movie-btn-close" type="button" aria-label="close modal" data-modal-close>
    <svg class="modal-movie-btn-close__icon">
      <use href="images/modal-movie/close.svg#icon-close"></use>
    </svg>
  </button>
</div>
