 
<!-- TeamModal -->
<div class="backdrop is-hidden">
    <button type="button" class="team-modal-close-button">
        <svg class="close-icon">
            <use href="#"></use>
        </svg>
    </button>
    <div class="team-modal">
        <ul class="team-card-list">
            <li class="team-card-list-item">
                <img src="#" alt="teammate photo" class="team-card-list-img">
                <h2 class="team-name">Andrey</h2>
                <p class="team-discription">Team Lead</p>
                <a class="team-contact" href="mailto:kolyalyman@gmail.com">kolyalyman@gmail.com</a>
            </li>
            <li class="team-card-list-item">
                <img src="#" alt="teammate photo" class="team-card-list-img">
                <h2 class="team-name">Galyna</h2>
                <p class="team-discription">Scrum Master</p>
                <a class="team-contact" href="mailto:mazurenko_elena@i.ua">mazurenko_elena@i.ua</a>
            </li>
            <li class="team-card-list-item">
                <img src="#" alt="teammate photo" class="team-card-list-img">
                <h2 class="team-name">Vitaliy</h2>
                <p class="team-discription">Developer</p>
                <a class="team-contact" href="mailto:mmaksymziza@gmail.com">mmaksymziza@gmail.com</a>
            </li>
            <li class="team-card-list-item">
                <img src="#" alt="teammate photo" class="team-card-list-img">
                <h2 class="team-name">Anastasiia</h2>
                <p class="team-discription">Developer</p>
                <a class="team-contact" href="mailto:ingagrigorieva0402@gmail.com">ingagrigorieva0402@gmail.com</a>
            </li>
            <li class="team-card-list-item">
                <img src="#" alt="teammate photo" class="team-card-list-img">
                <h2 class="team-name">Anatol</h2>
                <p class="team-discription">Developer</p>
                <a class="team-contact" href="mailto:svorder@ukr.net">svorder@ukr.net</a>
            </li>
            <li class="team-card-list-item">
                <img src="#" alt="teammate photo" class="team-card-list-img">
                <h2 class="team-name">Dmytro</h2>
                <p class="team-discription">Developer</p>
                <a class="team-contact" href="mailto:kostolu@ukr.net">kostolu@ukr.net</a>
            </li>
            <li class="team-card-list-item">
                <img src="#" alt="teammate photo" class="team-card-list-img">
                <h2 class="team-name">Dmytro</h2>
                <p class="team-discription">Developer</p>
                <a class="team-contact" href="mailto:evgeniy.olefir@gmail.com">evgeniy.olefir@gmail.com</a>
            </li>
            <li class="team-card-list-item">
                <img src="#" alt="teammate photo" class="team-card-list-img">
                <h2 class="team-name">Vsevolod</h2>
                <p class="team-discription">Developer</p>
                <a class="team-contact" href="mailto:najdenova.elena@gmail.com">najdenova.elena@gmail.com</a>
            </li>
            <li class="team-card-list-item">
                <img src="#" alt="teammate photo" class="team-card-list-img">
                <h2 class="team-name">Vasyl</h2>
                <p class="team-discription">Developer</p>
                <a class="team-contact" href="mailto:ol4enok20101@gmail.com">ol4enok20101@gmail.com</a>
            </li>
            <li class="team-card-list-item">
                <img src="#" alt="teammate photo" class="team-card-list-img">
                <h2 class="team-name">Hanna</h2>
                <p class="team-discription">Developer</p>
                <a class="team-contact" href="mailto:kondakov.o.91@gmail.com">kondakov.o.91@gmail.com</a>
            </li>
            <li class="team-card-list-item">
                <img src="#" alt="teammate photo" class="team-card-list-img">
                <h2 class="team-name">Yulia</h2>
                <p class="team-discription">Developer</p>
                <a class="team-contact" href="mailto:kondakov.o.91@gmail.com">kondakov.o.91@gmail.com</a>
            </li>
        </ul>
    </div>
</div>
<!--<script src="./index.js"></script> -->


