<div id="popup" class="popup">
    <a href="#footer" class="popup__area"></a>
    <div class="popup__body">
    <div class="popup__content">
<ul class="team-card-list">
    <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img">
        <h2 class="team-name">Andrey</h2>
        <p class="team-discription">Team Lead</p>
    >
            <a href="https://github.com/AndreiPenskiy">
                <img class="goitLogo" src="./images/team/github.svg" width="20px" alt="GitHub">
            </a>
        
    </li>
    <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img">
        <h2 class="team-name">Galyna</h2>
        <p class="team-discription">Scrum Master</p>
        <img class="goitLogo" src="./images/team/github.svg" width="20px" alt="GitHub">
    </li>
    <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img">
        <h2 class="team-name">Vitaliy</h2>
        <p class="team-discription">Developer</p>
        <img class="goitLogo" src="./images/team/github.svg" width="20px" alt="GitHub">
    </li>
    <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img">
        <h2 class="team-name">Anastasiia</h2>
        <p class="team-discription">Developer</p>
        <img class="goitLogo" src="./images/team/github.svg" width="20px" alt="GitHub">
    </li>
    <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img">
        <h2 class="team-name">Anatol</h2>
        <p class="team-discription">Developer</p>
        <img class="goitLogo" src="./images/team/github.svg" width="20px" alt="GitHub">
    </li>
    <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img">
        <h2 class="team-name">Dmytro</h2>
        <p class="team-discription">Developer</p>
        <img class="goitLogo" src="./images/team/github.svg" width="20px" alt="GitHub">
    </li>
    <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img">
        <h2 class="team-name">Dmytro</h2>
        <p class="team-discription">Developer</p>
        <img class="goitLogo" src="./images/team/github.svg" width="20px" alt="GitHub">
    </li>
    <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img">
        <h2 class="team-name">Vsevolod</h2>
        <p class="team-discription">Developer</p>
        <img class="goitLogo" src="./images/team/github.svg" width="20px" alt="GitHub">
    </li>
    <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img">
        <h2 class="team-name">Vasyl</h2>
        <p class="team-discription">Developer</p>
        <img class="goitLogo" src="./images/team/github.svg" width="20px" alt="GitHub">
    </li>
    <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img">
        <h2 class="team-name">Hanna</h2>
        <p class="team-discription">Developer</p>
        <img class="goitLogo" src="./images/team/github.svg" width="20px" alt="GitHub">
    </li>
    <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img">
        <h2 class="team-name">Yulia</h2>
        <p class="team-discription">Developer</p>
        <img class="goitLogo" src="./images/team/github.svg" width="20px" alt="GitHub">
    </li>
</ul>
        <a href="#footer" class="popup__close">Х</a>
    </div>
</div>
</div>
